# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
#integer isa whole number
favorite_number = 23

In [13]:
#snake_case
snake_case_variable = 'best practice for python'

#CamelCase
CamelCaseJavaScript = 'Javascript best practice'

##### Assinging float

In [2]:
#float is a number with decimal
a_float = 1.5

#### Performing Calculations on ints and floats

##### Addition

In [26]:
print(5+5)
print(favorite_number + 5)
print(favorite_number)

10
28
23

##### Subtraction

In [25]:
print(10-5)
print(favorite_number - 5)

5
18

##### Multiplication

In [42]:
print(5*2)
print(favorite_number * 3)
#reassign
#long hand
favorite_number = favorite_number *3
print(favorite_number)
#short hand
favorite_number *= 3
# print(favorite_number)

10
4074381
4074381

##### Division

In [36]:
print (10/2)
print(favorite_number / 3)

5.0
5589.0

##### Floor Division

In [43]:
# output the original datatype between int // float
print(11//2)
#reassiging with floor division
favorite_number //= 9
print(favorite_number)

print(11.5 // 2)

5
1358127
5.0

In [46]:
# used with % outputs remainder
print(10 % 2)


print(11 % 2)

print(124 % 25)

0
1
24

##### Exponential

In [50]:
# **
#squaring
print(10**2)

print(10**3)

my_num = 10

#reassining
#long hand
my_num = my_num ** 2
print(my_num)

100
1000
100

### String Input-Output

##### String Assignment

In [53]:
instructor = "Sean"

print(type(instructor))

<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [55]:
print(instructor, end=' Currie ')
print('hello world')
print('test')

Sean Currie hello world
test

##### String Concatenation

In [60]:
# adding strings 
first_name = "Agent"
last_name = "Smith"
full_name = first_name + last_name

print(full_name)
full_name = first_name +" "+ last_name

print(full_name)

my_name = "Dylan"
#long hand
my_name = my_name + " smith"
print(my_name)

# short hand
my_name += " jr"
print(my_name)

AgentSmith
Agent Smith
Dylan smith
Dylan smith jr

##### Type Conversion

In [65]:
#convert to string
# str() function is out of place  not changing original type must reassign

print(my_num, type(my_num))

print(type(str(my_num)))

my_num = str(my_num)

print(my_num, type(my_num))

100 <class 'int'>
<class 'str'>
100 <class 'str'>

##### input()

In [1]:
#input() takes a prompt as an argument
#always returns a string


user_name = input('What is your name? ')

What is your name? Dylan Smith

In [3]:
print('user is {} years old'.format(user_name))

user is Dylan Smith years old

##### Old Way (python 2)

In [ ]:
# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
car = input('What is the make? ')
color = input('what is the color? ')
year = input('what year is the car? ')
model = input('what is the model? ')

In [45]:
print('I drive a {}  {}  {}  {} '.format(year, color, car, model))

I drive a 2022  black  toyota  corolla

In [44]:
print(f'I drive a {year}  {color}  {car}  {model}')

I drive a 2022  black  toyota  corolla

"if" statement

In [9]:
# if statement #

# if (boolean):
#    run action must be ins=dented
if True:
    print("condition true")
    
if 1:
    print("1 true")
if 5:
    print("5 true")
# 0 returns false
if 0:
    print("zero true")

condition true
1 true
5 true

In [4]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

if 5 > 4:
    print("five > 4")

# skip action boolean/condition is false    
if 5 < 4:
    print("five < 4")
print(5<4)    
    
if 5 == 5:
    print("5 == 5")

if 5 + 5 >9:
    print("10 > 9")
    
# not equal (!=)    

# Truth Tree:
# T and F = F
# T and T = T
# T || F = T
# F || T = T
# F || F = F
# F and F = F

if True and False:
    print("True and False")
    
if True or False:
    print("True or False")    

# Can have multiple actions until next line is on same indentation level
if 5+5 == 10 and 11 > 10:
    print("11 > 10 == 10")
    print("second action")

    
    
if 10 == 11 and int(input("what is your age? ")) > 18:
    print("breaking at first condition")
    

if 10 == 11 and int(input("what is your age? ")) > 18:
    print("not breaking at first condition")

five > 4
False
5 == 5
10 > 9
True or False
11 > 10 == 10
second action

##### 'is' keyword

In [13]:
simple_list = [1,2,3,4]
basic_list = [1,2,3,4]
# True
simple_list == basic_list
# False
simple_list is basic_list

simple_list_copy = simple_list
print(simple_list_copy)

print(simple_list_copy is simple_list)
# adding to same list of simple and simple copy
simple_list.append(5)

print(simple_list_copy)
# uneffected
print(basic_list)

[1, 2, 3, 4]
True
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

##### 'in' keyword

In [19]:
# membership Check

character = "Neo"
print("N" in character)

# case sensitive

print("n" in character)

#

True
False

##### 'not in' keyword'

In [22]:
if "z" not in character:
    print("no z in Neo")
    
if "n" not in "Neo":
    print("no N in Neo")

no z in Neo
no N in Neo

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [13]:
user_name = input('What is your name? ')
if "P" in user_name:
    print("p is in name")

What is your name? Peter
p is in name

## Using 'and'/'or' with If Statements

In [ ]:
# see above

### Elif Statements

In [18]:
if 5+5 == 100:
    print("10 == 10")
elif 100 > 99:
    print("100 > 99")
    
# Check both condition

# if 5+5 == 10:
#     print("10 == 10")
# if 100 > 99:
#     print("100 > 99")

if False:
    print("false")
if 0:
    print("0")
if 1:
    print("1")

100 > 99
1

### Else Statements

In [19]:
# see above
if "a" in "morpheous":
    print("a in morpheous")
else:
    print("no a in morpheous")

no a in morpheous

### For Loops

In [26]:
# for keyword, loop variable, in keyword, iterable

count = 0
for char in "neo is the one":
    print(char)
    count += 1
    print(count)

n
1
e
2
o
3

4
i
5
s
6

7
t
8
h
9
e
10

11
o
12
n
13
e
14

In [34]:
#range is not inclusive
# startd defult to zero
# for num in range(10):
#     print(num)
    
#range(start, stop, step)

# for num in range (1,11):
#     print(num)
    
for num in range (2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [41]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [42]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [43]:
def get_user_age():
    pass
def calculate_age():
    pass    
for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [48]:
for num in range(5):
    for char in "sean":
        print(num, char)
    print("nested loop completed")

0 s
0 e
0 a
0 n
nested loop completed
1 s
1 e
1 a
1 n
nested loop completed
2 s
2 e
2 a
2 n
nested loop completed
3 s
3 e
3 a
3 n
nested loop completed
4 s
4 e
4 a
4 n
nested loop completed

In [55]:
for x in range(10):
    for y in range(10):
        print(x,' ',y)
    print("nested loop completed")
#         print("nested loop completed")
# print("nested loop completed")

0   0
0   1
0   2
0   3
0   4
0   5
0   6
0   7
0   8
0   9
nested loop completed
1   0
1   1
1   2
1   3
1   4
1   5
1   6
1   7
1   8
1   9
nested loop completed
2   0
2   1
2   2
2   3
2   4
2   5
2   6
2   7
2   8
2   9
nested loop completed
3   0
3   1
3   2
3   3
3   4
3   5
3   6
3   7
3   8
3   9
nested loop completed
4   0
4   1
4   2
4   3
4   4
4   5
4   6
4   7
4   8
4   9
nested loop completed
5   0
5   1
5   2
5   3
5   4
5   5
5   6
5   7
5   8
5   9
nested loop completed
6   0
6   1
6   2
6   3
6   4
6   5
6   6
6   7
6   8
6   9
nested loop completed
7   0
7   1
7   2
7   3
7   4
7   5
7   6
7   7
7   8
7   9
nested loop completed
8   0
8   1
8   2
8   3
8   4
8   5
8   6
8   7
8   8
8   9
nested loop completed
9   0
9   1
9   2
9   3
9   4
9   5
9   6
9   7
9   8
9   9
nested loop completed

### While Loops

In [58]:
while num < 100:
    print(num)
    num +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

##### Looping 'While True'

In [63]:
i = 0
while True:
    print("hello")
    i+=1
    print(i)
    if i == 100:
         break

hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello
10
hello
11
hello
12
hello
13
hello
14
hello
15
hello
16
hello
17
hello
18
hello
19
hello
20
hello
21
hello
22
hello
23
hello
24
hello
25
hello
26
hello
27
hello
28
hello
29
hello
30
hello
31
hello
32
hello
33
hello
34
hello
35
hello
36
hello
37
hello
38
hello
39
hello
40
hello
41
hello
42
hello
43
hello
44
hello
45
hello
46
hello
47
hello
48
hello
49
hello
50
hello
51
hello
52
hello
53
hello
54
hello
55
hello
56
hello
57
hello
58
hello
59
hello
60
hello
61
hello
62
hello
63
hello
64
hello
65
hello
66
hello
67
hello
68
hello
69
hello
70
hello
71
hello
72
hello
73
hello
74
hello
75
hello
76
hello
77
hello
78
hello
79
hello
80
hello
81
hello
82
hello
83
hello
84
hello
85
hello
86
hello
87
hello
88
hello
89
hello
90
hello
91
hello
92
hello
93
hello
94
hello
95
hello
96
hello
97
hello
98
hello
99
hello
100

##### While & For Loops Used Together

In [67]:
num = 0
while num < 5:
    for char in "sean":
        print(num,' ', char)
    num+=1

0   s
0   e
0   a
0   n
1   s
1   e
1   a
1   n
2   s
2   e
2   a
2   n
3   s
3   e
3   a
3   n
4   s
4   e
4   a
4   n

### Built-In Functions

##### range()

In [ ]:
print(range(10))

##### len()

In [74]:
len("sean currie")
instructor = "sean currie"
for i in range(len(instructor)):
    print(i, end=" ")
    print(instructor[i])

0 s
1 e
2 a
3 n
4
5 c
6 u
7 r
8 r
9 i
10 e

##### help()

In [77]:

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [81]:
type(instructor)
print(isinstance(instructor, str))
print(isinstance(instructor, int))

True
False

##### abs()

In [82]:
abs(-5) == abs(5)

True

### Try and Except

In [ ]:
while True:
    try:
        user_age = int(input("what is your age?"))
    except:
        print("error enter age in digits")

what is your age?ten
error enter age in digits

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [45]:
cubes = []
for number in range(1, 21):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)
    if cube == 1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [42]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

minimum = int(input("1: "))
maximum = int(input("100: "))

for Number in range (minimum, maximum + 1):
    prime = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            prime = prime + 1
            break

    if (prime == 0 and Number != 1):
        print(" %a" %Number, end = '  ')

1: 1
100: 100
 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [41]:
user_age = int(input('How old are you? '))
if user_age <= 17: 
    print('The person is a kid.')
    
user_age = int(input('How old are you? '))
if user_age <= 65:
    print('The person is an adult.')
    
user_age = int(input('How old are you? '))
if user_age > 65:
    print('The person is a senior.')

How old are you? 10
The person is a kid.
How old are you? 40
The person is an adult.
How old are you? 75
The person is a senior.